<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>index</title>

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/ec001ec395.js" crossorigin="anonymous"></script>


    <!-- foundation -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="../../../public/css/index1.css">

</head>
<body>
<!-- Div 1 -->    
<header>
    <div class="logo">LOGO</div>
    <div class="menu">
        <ul>
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
            <li>item4</li>
            <li>item5</li>
        </ul>
    </div>
</header>

<!-- Div 2 -->    
<section class="video">VIDEO</section>

<!-- Div 3 -->    
<section class='greeting'>Greeting</section>

<!-- Div 4 -->    
<section class="googlemap">Google map</section>



<!-- div 5 -->
    <div class="item-card">
        <div class='wrap'>
                <div class='item-image'>image</div>
                <div class='item-content'>content</div>
        </div>

        <div class='wrap'>
            <div class='item-image'>image</div>
            <div class='item-content'>content</div>
        </div>

        <div class='wrap'>
            <div class='item-image'>image</div>
            <div class='item-content'>content</div>
        </div>

        <div class='wrap'>
            <div class='item-image'>image</div>
            <div class='item-content'>content</div>
        </div>

    </div>



<!-- div 6 --->
<footer>
    <div>Footer</div>
</footer>
</body>
</html>